// Global styles for bar
.bar {
  // background-color: $navy;
  background: $gradient;
  color: $kinda-gray;
  padding: 5px;
  border-radius: 5px;
}

// Systray
menu {
  padding: 5px;
  background-color: transparentize($bg-dark, 0.1);
  border-radius: 5px;

  menuitem {
    border-radius: 5px;
    padding: 3px 5px;
  }

  menuitem:hover {
    background-color: transparentize($pinkish, 0.25);
  }

  separator {
    background: linear-gradient(90deg, transparentize($bg-light, 1) 0%, $bg-light 10%, transparentize($bg-light, 1) 100%);
    padding: 1px 5px 1px 5px;
  }
}

.metric {
  scale trough highlight {
    background-color: $pinkish;
    border-radius: 10px;
  }

  scale trough {
    background-color: $bar-gray;
    border-radius: 50px;
    min-height: 7px;
    min-width: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .dull trough highlight {
    background-color: transparentize($pinkish, 0.5);
  }
}

.workspaces-widget {
  .empty {
    color: $bar-gray;
  }

  .current {
    color: $pinkish;
  }

  .workspace-entry:hover {
    color: transparentize($pinkish, 0.3);
  }

  .special-entry {
    margin-left: 3px;
    margin-right: 3px;
  }

  .special-entry:hover {
    color: transparentize($pinkish, 0.3);
  }
}