$bg-light: rgb(85, 80, 90);
$bg-dark: #414145;
$kinda-gray: #b0b4bc;
$bar-gray: #4e4e4e;

.startBg {
    background: transparentize($bg-light, .2);
    border-radius: 10px;
}

.startBg:hover {
    background: transparentize($bg-light, .1);
}

.startPanel {
    background: $bg-dark;
    border-radius: 10px;
}

.hostname {
    font-family: JetBrainsMono NFM;
    color: $kinda-gray;
    margin-top: -25px;
}

.icons {
    font-size: 3rem;
    color: $kinda-gray;
    font-family: JetBrainsMono NFM;
    padding: 15px;
}

.icons button:hover {
    color: $pinkish;
}

.music button:hover {
    color: $pinkish;
}


.calbox {
    padding: 10px;

    .clock {
        font-size: 3rem;
        font-family: JetBrainsMono NFM;
    }

    .local {
        font-size: 1.5rem;
        color: $kinda-gray;
        margin: -5px;
        padding-bottom: 25px;
    }

    .cal {
        border: 2px solid $kinda-gray;
        border-radius: 10px;
    }

    .cal:selected {
        background-color: $kinda-gray;
        color: $bg-dark;
    }

    .cal.header {
        color: white;
        font-weight: bold;
    }

    .cal.button {
        color: $kinda-gray;
    }

    .cal.highlight {
        color: white;
        background-color: #b0b4bc;
        font-weight: bold;
    }

    .cal:indeterminate {
        color: $kinda-gray;
    }

    .cal button:hover {
        background-color: transparentize($pinkish, .1);
    }

}

.circles {
    
    .circle:hover {
        border-radius: 50px;
        background-color: transparentize($kinda-gray, 0.8);
    }
        
    .circle_stat {
        color: $pinkish;
        background-color: #38384d;
        border-radius: 10px;
        margin: 5px;
    }
}

.disks {
    font-family: JetBrainsMono NFM;
    padding: 15px;
    .disk {
        border-radius: 10px;
        border: 3px solid $kinda-gray;
        padding: 3px;

        .disk-icon {
            font-size: 5rem;
            color: $kinda-gray;
            padding-left: 15px;
        }
        
        .disk-info progressbar {
            color: #000000;
            border-radius: 10px;
            margin-right: 15px;
        }

        .disk-info progressbar trough {
            background-color: $bar-gray;
            border-radius: 50px;
            min-height: 12px;            
        }

        .disk-info progressbar trough progress {
            background-color: $pinkish;
            color: #000000;
            border-radius: 10px;
            min-height: 12px;
        }
    }

    .disk:hover {
        background-color: transparentize($kinda-gray, 0.8);
        border: 3px solid $pinkish;
    }
}

.net_down {
    color: orange;
    background-color: transparentize(orange, .5);
    margin: 10px;
}

.net_up {
    color: greenyellow;
    background-color: transparentize(greenyellow, .5);
    margin: 10px;
}