/Code
/dconf
/pulse
/session
/systemd
/ktrashrc
/kservicemenurc
/kiorc
/kdeglobals
/dolphinrc
/QtProject.conf
/trashrc
/kde.org
/filetypesrc
/mimeapps.list
/baloofileinformationrc
/hosts.yml
/gh
/vlc
/discord
/google-chrome
/Slack
/GIMP
/cava/shaders
/yay
/Electron
/font-manager
/kitty/kitty.conf.bak
/Windscribe
/autostart
/pnpm
/obsidian
/xfce4
/Thunar
/calibre
/qalculate/qalc.history*
/GitHub Desktop
/Google
/github-copilot
/gh-copilot
/inkscape
/solaar
