/Code - OSS
/dconf
/pulse
/session
/systemd
ktrashrc
kservicemenurc
kiorc
kdeglobals
dolphinrc
QtProject.conf
trashrc
kde.org
filetypesrc
mimeapps.list
baloofileinformationrc
hosts.yml
gh
go
vlc
discord
google-chrome
htop
Slack
GIMP
gtk*
cava/shaders
menus
qalculate/qalc.history
yay
Electron
autostart/slack.desktop
font-manager
kitty/kitty.conf.bak
Windscribe
autostart
pnpm
obsidian
xfce4
Thunar
OrcaSlicer
input-remapper-2
libreoffice
whoozle.github.io
