/autostart
/baloofileinformationrc
/calibre
/cat_installer
/cava/shaders
/Code
/com.yuezk.qt
/dconf
/discord
/dolphinrc
/easyeffects
/Electron
/filetypesrc
/font-manager
/gh
/gh-copilot
/GIMP
/git
/github-copilot
/GitHub Desktop
/go
/Google
/google-chrome
/hosts.yml
/inkscape
/java
/kdeglobals
/kde.org
/kicad
/kiorc
/kitty/kitty.conf.bak
/kservicemenurc
/ktrashrc
/matplotlib
/mimeapps.list
/.mozilla
/mpd/playlists
/obsidian
/pnpm
/pulse
/qalculate/qalc.history*
/qimgv
/QtProject.conf
/session
/solaar
/systemd
/Thunar
/trashrc
/vlc
/VSCode-real-config
/Windscribe
/xfce4
/yay
/yazi/flavors
/yazi/plugins
/zsh/.zcompdump
